
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Honk&family=Noto+Sans+JP:wght@100;400;800&family=Sacramento&display=swap');

/*FAMILY FONTS
font-family: 'Honk', system-ui;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Caprasimo', serif;
*/

:root {
  --blue: #00a5a5;
  --red: #ee3e54;
  --yellow: #fce0a2;
  --orange: #f05467;
  --gray: #848595;
  --light-gray: #a2b3cb;
  --yellow-ideas:#ffffa4;
}
body {
  background: var(--yellow);
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--gray);
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  display: flex;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  align-items: ;
}
header > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.logo-title {
  color: var(--gray);
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'Noto Sans JP', sans-serif;
}
.logo-title > span{
  letter-spacing: 1px;
}
.logo-subtitle {
  color: var(--red);
  margin-top: -20px;
  letter-spacing: 2px;
  font-size: 20px;
  font-family: 'Sacramento', cursive;
  align-self: flex-end;
  transform: rotate(-5deg);
}
#logout {
  width: 20px;
}
#logout-container {
  width: 30px;
  margin-left: auto;
  padding-right: 5%;
}
h1 {
  text-align: center;
}
@media (min-width: 768px) {
  h1 {
    font-size: 42px;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
section {
  position: relative;
  flex-grow: 1;
  overflow: auto;
  background-position: center;
  margin-bottom: 40px;
}
section::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../../../public/lines_abstract.png");
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}
form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 80%;
  max-width: 700px;
  margin: auto;
}
.outerCircle {
  position: absolute;
  top: 2%;
  right: 0;
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  background: linear-gradient(var(--red), var(--blue));
  border-radius: 50%;
  padding: 6px;
}
.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray);
  border-radius: 50%;
  padding: 4px;
  font-size:12px;
}
@media (min-width: 450px) {
  .addBtn {
    padding: 8px 16px;
  }
}
.addBtn:hover {
  background-color: var(--light-gray);
}
.addBtn > a > p {
  color: white;
  text-decoration-color: var(--red);
}
.addBtn > a:hover {
  transform: scale(1.2);
}
@keyframes gradientMoves {
  0% {
    background: linear-gradient(var(--blue), var(--red));
  }
  50% {
    background: linear-gradient(var(--red), var(--blue));
  }
  100% {
    background: linear-gradient(var(--blue), var(--red));
  }
}
.outerCircle:hover {
  animation: gradientMoves 0.3s  infinite;
  padding: 9px;
}
#new-idea{
  font-family: 'Honk', system-ui;
  font-size: 20px;
}
#home-title {
  margin: 60px auto 20px auto;
  font-family: 'Honk', system-ui;
  font-size: 54px;
  width:50%;

  text-align: center;
}
@media(min-width:450px){
  #home-title{
    width:100%;
    font-size: 64px;
  }
}
#new-idea-title {
  margin-top: 100px;
  font-family: 'Honk', system-ui;
  font-size: 60px;
}
input[type="text"],
textarea {
  text-indent: 4px;
  padding: 4px;
}
textarea {
  min-height: 140px;
}
input[type="submit"] {
  background-color: var(--gray);
  color: white;
  margin-bottom: 8px;
  padding: 4px 0;
}
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: var(--blue);
}
input:focus {
  border: 1px solid var(--red); 
}
.alert {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 100;
  padding: 16px;
  margin: 8px;
  border: 1px solid white;
}
.alert-danger {
  background-color: var(--red);
}
.close {
  width: 16px;
  height: 16px;
  margin-bottom: 24px;
  align-self: flex-end;
  margin-right: 5%;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%;
  padding: 4px;
}
.back-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 99;
  display: block;
}
.note-container {
  margin-left: 8px;
  border-radius: 12px;
  background-color: #efefef;
  padding: 2px 8px;
  margin: 8px auto;
  width: 70%;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.note-container-title::before {
  content: "🚀   ";

}
.note-container-title {
  width: 100%;
  flex-grow: 1;
  margin-right: auto;
  font-family: 'Honk', system-ui;
  font-size: 24px;

}
footer {
  display: flex;

  justify-content: center;
  align-items: center;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
  margin-top: auto;
  height: 60px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--yellow);
}
button {
  border: none;
}

.emoji-trash {
  color: var(--red);
  font-size: 30px;
  cursor: pointer;
}

#logo-footer {
  width: 50px;
}
.back-btn {
  margin-left: 16px;
}
.sign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 104px - 40px - 5px - 5px - 30px);
 
}
@media (min-width: 415px) {
  .sign-container {
    height: calc(100vh - 104px - 40px - 5px - 5px - 10px);
  }
}
@media (min-width: 1080px) {
  .sign-container {
    flex-direction: row;
  }
}
.sign-container > div {
  display: grid;
  place-content: center;
  flex-grow: 1;
  flex: 1;
  width: 100%;
  height: 100%;
}
.sign-container > div:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.2);
}
#sign-image-hero {
  width: 150px;
}

/*SIGN VIEW TOGGLER*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 auto 24px auto;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-gray);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: var(--blue);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--blue);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/*label*/
.label {
  position: absolute;
  margin-top: 8px;
}
#label-register {
  left: 80px;
}
#label-signup {
  right: 80px;
}
/*END OF TOGGLER´s CODE*/

#registerForm {
  display: none;
}
#loginForm {
  display: flex;
}
#label-signup {
  color: var(--blue);
}
#label-register {
  color: var(--gray);
}
